:root {
  --colorTextPrimary: #333;
  --colorTextSecondary: #b6b6b6;
  --colorTextTertiary: #95e1d3;
  --colorHover: #f38181;
  --colorTextButton: #fff;
  /*Шрифти*/
  --fontTextPrimary: "Montserrat", sans-serif;
  --fontTextSecondary: "Roboto", sans-serif;
  --fontTextTertiary: "Kaushan Script", cursive;
}
body {
  font-family: var(--fontTextPrimary);
  color: var(--fontTextPrimary);
  font-size: 14px;
  font-weight: 400;
}
.header-logo-text {
  color: var(--colorTextTertiary);
  font-size: 30px;
  font-weight: 700;
}
.nav-link {
  color: var(--colorTextTertiary);
}
.nav-link:hover {
  color: var(--colorHover);
}
